@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Poppins';
}
header {
    position: fixed;
    top: 0;
    background-color: #E1C78F;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 10%;
    

}
header nav {
    text-align: right;
    margin-top: 25px;
    gap: 20px;
    margin-right: 5%;
}
header nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
    padding-right: 20px;
    transition: 0.5s ease-in-out;
}
header nav a:hover {
    color: black;
}
.conteiner-principal {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(imagens/fundopreto.png);
    background-repeat: no-repeat;
}
.conteiner-principal h1 {
    text-align: right;
    font-size: 200px;
    position: absolute;
    width: 50%;
    right: 0;
    margin-right: 10%;
    line-height: 115px;
    color: rgba(255, 255, 255, 0.686);
}
.conteiner-principal p {
    text-align: right;
    font-size: 20px;
    position: absolute;
    width: 50%;
    margin-top: 300px;
    right: 0;
    margin-right: 10%;
    color: rgba(255, 255, 255, 0.63);
}
.conteiner-principal .caixa {
    position: absolute;
    width: 50%;
    bottom: 0;
    right: 0;
    margin-bottom: 10%;
    text-align: right;
    margin-right: 10%;
}
.conteiner-principal .caixa a { 
    color: white;
    text-decoration: none;
    padding: 20px 30px;
    border: 1px solid #E1C78F;
    margin: 5px; 
    transition: 0.5s ease-in-out;
}
.conteiner-principal .caixa a:hover {
    background-color: #dfbc72;
}
.segunda-face {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right,black,#dfbc72);
}
.segunda-face h1 {
    text-align: left;
    font-size: 50px;
    position: absolute;
    width: 50%;
    left: 0;
    margin-left: 15%;
    line-height: 115px;
    top: 0;
    margin-top: 300px;
    color: white;
}

.segunda-face p {
    text-align: left;
    font-size: 18px;
    position: absolute;
    width: 25%;
    left: 0;
    margin-left: 15%;
    color: white;
}
.segunda-face .imagem {
    width: 400px;
    height: 600px;
    margin-left: 200px;
    border-radius: 20px;
}

.segunda-face .cansada {
    width: 250px;
    height: 400px;
    position:absolute;
    right: 0;
    margin-right: 450px;
    bottom: 0;
    margin-bottom: 50px;
    z-index: 1;
    border-radius: 20px;
}

.segunda-face .linda {
    width: 400px;
    height: 600px;
    position: absolute;
    right: 0;
    margin-right: 100px;
    border-radius: 20px;
}

.terceira-face {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.137);
}

.terceira-face .desfile {
    width: 300px;
    height: 310px;
    left: 0;
    margin-left: 100px;
    position: absolute;
    bottom: 0;
    margin-bottom: 90px;
}

.terceira-face .desfile01 {
    width: 300px;
    height: 400px;
    position: absolute;
    right: 0;
    margin-right: 100px;
    top: 0;
    margin-top: 170px;
}

.terceira-face .branco {
    width: 900px;
    height: 400px;
    left: 0;
    margin-left: 100px;
    position: absolute;
    top: 0;
    margin-top: 170px;
    
}

.terceira-face .colorido {
    width: 600px;
    height: 310px;
    right: 0;
    margin-right: 100px;
    position: absolute;
    bottom: 0;
    margin-bottom: 90px;
    z-index: 1;
}

.terceira-face .caixa01 {
    position: absolute;
    right: 0;
    margin-right: 400px;
    background-color: black;
    width: 510px;
    height: 400px;
    color: white;
    top: 0;
    margin-top: 170px;
}

.terceira-face .caixa01 h2 {
    text-align: center;
    margin-top: 100px;
    font-size: 32px;
}

.terceira-face .caixa01 p {
    text-align: center;
    margin-top: 20px;

}

.terceira-face .caixa01 a {
    position: absolute;
    margin-left: 40%;
    bottom: 0;
    margin-bottom: 100px;
    color: white;
    text-decoration: none;
    background-color: #dfbc72;
    width: 40px;
    padding: 10px 30px;
    transition: 0.5s ease-in-out;
}

.terceira-face .caixa01 a:hover {
    background-color: rgba(128, 128, 128, 0.863);
    color: #dfbc72;
}

.terceira-face .fundopreto {
    position: absolute;
    left: 0;
    margin-left: 400px;
    background-color: black;
    width: 900px;
    height: 310px;
    bottom: 0;
    margin-bottom: 90px;
    z-index: -1;
}


